---
const date = new Date().getFullYear();
---

<footer>
  <div class="container text-center">
    <p>
      &copy; {date} Your Website. All rights reserved.
    </p>
  </div>
</footer>

<style>
  footer {
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
</style>
